/* use this file to add custom CSS */

/* don't let <pre> get crazy */
pre {
    max-width: 25%; /* Responsive design */
    white-space: pre-wrap; /* Ensure long lines wrap within the pre block */
    word-wrap: break-word; /* Break long words to fit within the max width */
}
